/* src/CharacterGrid.css */

/* Global Styles */
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #0B0C10; /* Dark background */
  color: #C5C6C7; /* Light gray text */
}

a {
  text-decoration: none;
  color: inherit;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  padding-bottom: 100px;
}

/* Logo Styles */
.logo {
  display: block;
  margin: 0 auto 0px auto;
  max-width: 200px;
  width: 50%;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  gap: 20px;
}

/* Grid Items (Characters) */
.grid-item {
  background-color: transparent;
  color: #ffee00;
  padding: 40px 20px 40px 20px;
  outline: #ffee00;
  border: 2px solid #ffee00;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  transition: transform 0.3s;
  position: relative;
  overflow: hidden;
}

.grid-item:hover {
  transform: translateY(-5px);
  border: 0;
}

/* Pseudo-element for background image and gradient */
.grid-item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.90) 100%
    ),
    var(--background-image);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.3s;
}

.grid-item:hover::before {
  opacity: 1;
  animation: pan-down 5s forwards;
}

/* Keyframes for panning effect */
@keyframes pan-down {
  from {
    background-position: top center;
  }
  to {
    background-position: bottom center;
  }
}

.grid-item h2 {
  position: relative;
  z-index: 1;
  margin: 0;
  font-size: 1.2em;
  transition: color 0.3s;
}

.grid-item:hover h2 {
  color: #ffffff; /* White text on hover */
}

/* Pagination */
.pagination {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 10px 0;
  z-index: 10;
}

.pagination button {
  background-color: transparent;
  color: #ffee00;
  border: 2px solid #ffee00;
  padding: 10px 20px;
  margin: 0 10px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.pagination button:hover {
  background-color: #ffee00;
  color: #0B0C10;
}

.pagination button:disabled {
  color: #C5C6C7;
  border-color: #C5C6C7;
  background-color: transparent;
  cursor: not-allowed;
}

.pagination .page-number {
  font-size: 1em;
  margin: 0 10px;
  color: #C5C6C7;
}

/* Responsive Design */
@media (max-width: 768px) {
  .grid-item {
    padding: 15px;
  }

  .pagination button {
    padding: 8px 16px;
    margin: 0 5px;
  }
}

@media (max-width: 480px) {
  .grid-item {
    padding: 10px;
  }

  .pagination button {
    margin: 5px 0;
  }
}
